{% extends 'app/base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block banner-slider %}
<div id="carouselExampleSlideOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'app/images/banner/ice-cream1.jpg' %}" class="d-block w-50" alt="banner image">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/images/banner/ice-cream2.jpg' %}" class="d-block w-50" alt="banner image">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/images/banner/ice-cream3.jpg' %}" class="d-block w-50" alt="banner image">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/images/banner/ice-cream4.jpg' %}" class="d-block w-50" alt="banner image">
        </div>
    </div>
</div>
{% endblock banner-slider %}

{% block main-content %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">This is a public limited company having its registered and corporate office at 
            Mumbai city of Maharastra State in India. The company was incorporated in the year 2015 and production command
            in 2019.This is the fastest growing public Listed Companies in Mumbai.</p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">
            <p class="fs-4 text-center">To embrace the right technoloy to delight our customers
                Empowering the farmer community through our unique 'Relationship Farming' MOdel
                To anticipate, unerstand and respond to our customers needs by creating high-quality Products
                and making them available through innovative and convenient channels.
            </p>
        </div>
    </div>
    <br><br>

{% endblock main-content %}